@import url("switzer.css");
@import url("clash-display.css");

:root {
  --light: #d9cead;
  --dark: #0a1f33;
  --accent: #ac0000;

  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark);
}

html {
  font-family: "Switzer-Variable", sans-serif;
  font-family: "ClashDisplay-Variable", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light);
}

header,
main {
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

.menu-container {
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  height: 36px;
  display: flex;
  margin-left: 12px;
  margin-top: 6px;
  box-sizing: border-box;
  padding: 10px 12px;
}

.logo-container p {
  color: var(--dark);
  font-size: 18px;
  line-height: 16px;
  font-weight: 500;
  margin: 0;
  text-shadow: 1px 1px var(--accent);
  text-decoration: overline;
}

nav {
  width: 50px;
  height: 50px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.hamburger-menu {
  width: 35.33px;
  height: 22.83px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamburger-menu > span {
  border-bottom: 2px solid var(--accent);
  width: 100%;
  display: block;
}

.tagline-container {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 95px;
}

.primary-text-container {
  height: auto;
}

.supporting-text-container {
  height: 87px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagline-container h1 {
  font-family: "ClashDisplay-Variable", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  color: var(--dark);
  margin: 0;
}

.tagline-container h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  color: var(--accent);
  vertical-align: middle;
}

.description-text {
  margin-top: 30px;
  text-align: center;
}

.description-text p {
  margin: 0 10px 0 10px;
  font-size: 20px;
  line-height: 28px;
  color: var(--dark);
  font-family: "Switzer-Variable", sans-serif;
}

.main-separator {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 33px;
  margin-bottom: 0;
  height: 1px;
  background-color: var(--dark);
  border-width: 0;
}

.personel-feature-container {
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 37.33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 63.58px;
}

.feature-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.feature-container h3 {
  font-family: "ClashDisplay-Variable", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: var(--accent);
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.feature-container ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.feature-container ul li {
  list-style: none;
  margin-bottom: 19.11px;
}

.last-child {
  margin-bottom: 0;
}

.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 104px;
}

.social-media {
  list-style-type: none;
  padding: 0;
  width: 200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.social-media-container.social-media li {
  height: 20px;
}

.social-media a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.social-media img {
  height: 20px;
}

.work-arrow-container {
  margin-top: 34px;
}

.work-arrow-container a {
  width: 77px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-arrow-container img {
  height: 21.3px;
  width: 18px;
}

.work-arrow-container p {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: var(--dark);
}

/* Works Section Begins */

.works-header-wrapper {
  height: 104px;
  text-align: left;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 79.85px;
}

.works-header-wrapper h2 {
  font-family: "ClashDisplay-Variable", sans-serif;
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline;
  color: var(--dark);
}

#works-section {
  margin-top: 33px;
  margin-bottom: 48px;
}

.portfolio-works {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  row-gap: 40px;
  margin-left: 24px;
  margin-right: 24px;
  justify-content: center;
}

.portfolio-works article {
  display: flex;
  flex-direction: column;
}

.portfolio-image-container {
  max-width: 684px;
  max-height: 448px;
}

.portfolio-image-container img {
  height: auto;
  max-height: 448px;
  max-width: 684px;
  width: 100%;
  margin-bottom: 24px;
}

.portfolio-header {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.portfolio-header h3 {
  font-family: "ClashDisplay-Variable", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  color: var(--accent);
}

.portfolio-works .descriptive-text {
  font-size: 20px;
  font-family: "Switzer-Variable", sans-serif;
  line-height: 28px;
  color: var(--dark);
  text-align: left;
  margin-top: 24px;
  margin-bottom: 0;
}

.portfolio-description-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.portfolio-description-section .portfolio-tags {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 24px;
}

.portfolio-description-section ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

.portfolio-description-section .portfolio-tags ul > li {
  list-style-type: none;
  border-right: 1px solid #555;
  height: 100%;
  padding: 0 1vw;
}

.portfolio-description-section ul > li:last-child {
  border-right: none;
}

.portfolio-description-section li > p {
  color: var(--dark);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.logo-container p:hover {
  color: var(--accent);
}

button {
  margin-top: 24px;
  justify-self: flex-start;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid var(--dark);
}

button:enabled {
  background-color: transparent;
}

button:hover {
  color: var(--accent);
  border-color: var(--accent);
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#contact-form-heading {
  font-family: "ClashDisplay-Variable", sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  margin-top: 120px;
  margin-bottom: 24px;
  color: var(--accent);
}

#contact-form-text {
  font-family: "Switzer-Variable", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 24px 24px 40px 24px;
  text-align: center;
}

footer form {
  width: 100%;
}

#contact-form ul {
  list-style: none;
  padding: 0;
  margin: 0 24px;
}

#contact-form ul li {
  width: 100%;
  margin-bottom: 24px;
}

#contact-form ul li input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 15px 16px;
  font-size: 15px;
}

#contact-form textarea {
  box-sizing: border-box;
  height: 148px;
  width: 100%;
  padding: 12px;
}

#contact-form ul li textarea {
  font-family: "Switzer", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

#contact-form textarea:placeholder-shown {
  font-family: "Switzer-Variable", sans-serif;
  font-size: 15px;
  line-height: 24px;
}

#contact-form .submit-button {
  margin-top: 40px;
  margin-bottom: 71px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact-submit {
  margin-top: 0;
}

#full-width-line {
  margin-top: 0;
  margin-bottom: 25px;
  width: 100%;
  border-top-color: var(--dark);
  border-width: 1px 0 0 0;
  border-top-style: solid;
}

.social-media-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#send-email {
  text-decoration: none;
  color: var(--dark);
  margin-top: 9px;
  padding-bottom: 27px;
}

#last-line {
  width: 40%;
  border-width: 13px 0 0 0;
  border-top-style: solid;
  border-radius: 5px;
  margin: 0 0 8px 0;
}

.menu-list {
  display: none;
}

#email-icon {
  display: none;
}

#desktop-down-arrow {
  display: none;
}

/* Media Queries For Desktop View */

@media only screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }

  header {
    width: 100%;
    height: 72px;
    text-align: center;
  }

  header .menu-container {
    height: 100%;
    margin: 0 151px 0 142px;
    justify-content: space-between;
  }

  header nav {
    height: 100%;
    width: auto;
    margin: 0;
  }

  .logo-container {
    margin: 16px 0 0 0;
  }

  .logo-container p {
    line-height: 20px;
  }

  .menu-list {
    display: flex;
    padding: 0;
  }

  .menu-list li {
    box-sizing: border-box;
    padding: 10px 12px;
    margin-right: 8px;
  }

  .menu-list li:hover {
    text-decoration: underline;
    text-shadow: 1px 1px var(--accent);
  }

  .menu-list li:last-child {
    margin-right: 0;
  }

  .menu-list li a {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  #email-icon {
    display: block;
    width: 22px;
    height: 18px;
    margin-left: 21px;
  }

  /* Header Responsive End */
  .tagline-container {
    margin-top: 130px;
    margin-left: 142px;
    margin-right: 142px;
  }

  .primary-text-container,
  .supporting-text-container {
    width: 100%;
    height: auto;
  }

  .primary-text-container h1 {
    font-size: 90px;
    font-family: "ClashDisplay-Variable", sans-serif;
    font-weight: 600;
    line-height: 105px;
    text-align: center;
    display: block;
  }

  .supporting-text-container {
    margin-top: 24px;
  }

  .supporting-text-container h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 47px;
    text-align: center;
  }

  .description-text {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .description-text p {
    max-width: 500px;
    margin: 0 10px 0 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }

  .main-separator {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
  }

  .flex-container {
    max-width: 446px;
    flex-wrap: nowrap;
    gap: 50px;
  }

  .feature-container h3 {
    font-family: "ClashDisplay-Variable", sans-serif;
    font-size: 18px;
    font-weight: 700;
  }

  .feature-container ul li p {
    font-family: Switzer, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
  }

  .main-separator.feature-icon {
    margin-top: 33px;
    margin-bottom: 96px;
  }

  .social-media-container {
    flex-direction: row;
    margin-left: 208.5px;
    margin-right: 208.5px;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  .work-arrow-container {
    margin-top: 0;
  }

  #desktop-down-arrow {
    display: block;
  }

  /* My Works Section Starts */
  .works-header-wrapper {
    margin-top: 228px;
    margin-left: 142px;
    margin-right: 142px;
    height: 114px;
  }

  .works-header-wrapper h2 {
    text-transform: none;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 114px;
    text-align: left;
  }

  #works-section {
    width: auto;
    margin-left: 142px;
    margin-right: 142px;
    margin-bottom: 96px;
  }

  #portfolio-works {
    margin-left: 142px;
    margin-right: 142px;
    row-gap: 88px;
  }

  #portfolio-works .portfolio-post {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  #portfolio-works .portfolio-post:nth-child(even) {
    flex-direction: row-reverse;
    padding-left: 0;
  }

  .portfolio-works .portfolio-post .portfolio-description-section {
    width: 40%;
    margin-top: 0;
    padding-left: 24px;
  }

  #portfolio-works
    .portfolio-post:nth-child(even)
    .portfolio-description-section {
    padding-left: 0;
    padding-right: 24px;
  }

  #portfolio-works .portfolio-image-container {
    width: 60%;
  }

  .portfolio-image-container .portfolio-img {
    margin-bottom: 0;
  }

  .portfolio-description-section .portfolio-header h3 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
  }

  /* Footer responsive styling starts */
  #contact-form-heading {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-top: 228px;
  }

  #contact-form-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    max-width: 684px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 88px;
  }

  #contact-form {
    max-width: 684px;
  }

  #contact-form ul {
    margin-left: 0;
    margin-right: 0;
  }

  #contact-form ul li {
    margin-bottom: 20px;
  }

  #contact-form ul li input {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }

  #contact-form ul li textarea {
    font-family: "Switzer", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }

  #contact-form textarea:placeholder-shown {
    font-family: "Switzer-Variable", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }

  #contact-form .submit-button {
    margin-top: 40px;
    margin-bottom: 106px;
  }

  #contact-submit {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    width: 160px;
    height: 48px;
  }

  .social-media-bottom-container {
    max-width: 421px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
  }

  #send-email {
    padding-bottom: 0;
    margin: 0;
  }

  #last-line {
    display: none;
  }
}

/* mobile navigation */

@media (max-width: 768px) {
  .active {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, var(--dark), var(--light));
  }

  .active .menu-list {
    display: block;
    position: absolute;
    top: 76px;
    left: 0;
    text-align: start;
    width: 100%;
  }

  .active .menu-list li {
    margin-bottom: 38px;
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .active .menu-list li a {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: var(--light);
  }

  .active .menu-list li img {
    margin-right: 48px;
    display: block;
  }

  .active .hamburger-menu {
    position: absolute;
    top: 16px;
    right: 38px;
    width: 16px;
    height: 16px;
  }

  .active .hamburger-menu span:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }

  .active .hamburger-menu span:nth-child(3) {
    transform: translateY(8px) rotate(-45deg);
  }

  .active .hamburger-menu span:nth-child(2) {
    display: none;
    opacity: 0;
  }

  .overflow-disabled {
    overflow-y: hidden;
  }
}

#form-error {
  visibility: hidden;
}

/* Modal styling */
.modal {
  margin: 0;
  padding: 24px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  text-align: center;
  border: none;
}

.modal::backdrop {
  background-color: rgba(40, 40, 40, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 39px;
  border: 1px solid var(--accent);
  padding: 5px;
  border-radius: 50%;
  background-color: var(--accent);
}

.modal-header {
  font-family: "ClashDisplay-Variable", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: var(--dark);
  margin-bottom: 24px;
}

.modal-image {
  width: 100%;
  height: auto;
}

.modal-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: var(--dark);
}

.modal .modal-tags {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-tags .modal-long-desc {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: var(--dark);
  padding: 14px;
  border-right: 1px solid #81818c;
}

.modal-tech-tag-1 {
  border-left: 1px solid #81818c;
}

.modal-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.modal-button-container a {
  border: 1px solid var(--dark);
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark);
  background-color: transparent;
  padding: 12px;
}

.modal-button-container a img {
  margin-left: 16px;
  width: 20px;
  height: auto;
}

.modal-button-container a:hover {
  border-color: var(--accent);
  color: var(--accent);
}

/* modal responsive */
@media only screen and (min-width: 768px) {
  .modal {
    margin: auto 100px;
  }

  .modal-header {
    margin-left: 24px;
  }

  .modal-image {
    width: calc(100% - 300px);
    height: auto;
  }

  .modal-text {
    width: 60%;
    margin: 0 auto;
  }

  .modal-button-container {
    flex-direction: row;
    justify-content: center;
    gap: 78px;
  }
}

#warning-message {
  margin-top: 20px;
}
