:root {
  --primary1: #5e42d7;
  --primary2: #7d73fc;
  --primary3: #9490ff;
  --primary4: #edecff;
  --neutral: #fff;
  --neutral-2: #2a2b33;
  --neutral-7: #c8c8d4;
  --neutral-8: #dcdce8;
  --neutral-9: #eaeaf6;
}

body {
  font-family: Roboto, "Lucida Grande", Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #191765;
}

header,
main {
  text-align: center;
}

main {
  background-image: url(assets/background-circles.svg);
  background-repeat: no-repeat;
}

.menu-container {
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  height: 36px;
  display: flex;
  margin-left: 12px;
  margin-top: 6px;
  box-sizing: border-box;
  padding: 10px 12px;
}

.logo-container p {
  color: #fff;
  font-size: 18px;
  line-height: 16px;
  font-weight: 500;
  margin: 0;
}

nav {
  width: 50px;
  height: 50px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.hamburger-menu {
  width: 35.33px;
  height: 22.83px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamburger-menu > span {
  border-bottom: 2px solid #fff;
  width: 100%;
  display: block;
}

.tagline-container {
  margin-left: 24px;
  margin-right: 24px;
  height: 154px;
  margin-top: 47px;
}

.primary-text-container {
  height: 55px;
  width: 327px;
}

.supporting-text-container {
  height: 87px;
  width: 327px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagline-container h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  color: #7d73fc;
  margin: 0;
}

.tagline-container h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  color: #edecff;
  vertical-align: middle;
}

.description-text {
  margin-top: 40px;
  margin-right: 24px;
  margin-left: 24px;
  text-align: center;
}

.description-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #c8c8d4;
}

.main-separator {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 33px;
  margin-bottom: 0;
  width: 327px;
  height: 1px;
  background-color: #646369;
  border-width: 0;
}

.personel-feature-container {
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 37.33px;
  width: 303px;
  display: flex;
  flex-wrap: wrap;
  gap: 63.58px;
}

.feature-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.feature-container h4 {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: #9490ff;
  padding-left: 0;
  margin-bottom: 25px;
  margin-top: 0;
}

.feature-container ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.feature-container li {
  list-style: none;
  margin-bottom: 20px;
}

.feature-container li:last-child {
  margin-bottom: 0;
}

.feature-container p {
  font-size: 15px;
  line-height: 24px;
  color: #f5f5ff;
  margin-top: 0;
  margin-bottom: 0;
}

.feature-icon {
  margin-top: 41px;
  margin-bottom: 58px;
}

.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 104px;
}

.social-media {
  list-style-type: none;
  padding: 0;
  width: 200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.social-media a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.social-media img {
  height: 20px;
}

.work-arrow-container {
  margin-top: 34px;
}

.work-arrow-container a {
  width: 77px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-arrow-container img {
  height: 21.3px;
  width: 18px;
}

.work-arrow-container p {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: #a2a3ae;
}

/* Works Section Begins */

.works-header-wrapper {
  height: 104px;
  text-align: left;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 79.85px;
}

.works-header-wrapper h2 {
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline;
  color: var(--primary3);
}

#works-section {
  margin-top: 33px;
  margin-bottom: 48px;
}

.portfolio-works {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 327px;
  row-gap: 40px;
  margin-left: 24px;
  margin-right: 24px;
}

.portfolio-works img {
  height: 236px;
  width: 327px;
  margin-bottom: 24px;
}

.portfolio-header {
  height: 105px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.portfolio-header h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  color: var(--neutral);
}

.portfolio-works .descriptive-text {
  font-size: 20px;
  line-height: 28px;
  color: var(--neutral-8);
  text-align: left;
  height: 204px;
  margin-top: 24px;
  margin-bottom: 0;
}

.portfolio-description-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.portfolio-description-section ul {
  width: 375px;
  height: 40px;
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.portfolio-description-section ul > li {
  list-style-type: none;
  border-right: 1px solid #555;
}

.portfolio-description-section ul > li:last-child {
  border-right: none;
}

.portfolio-description-section li > p {
  color: var(--neutral);
  padding-right: 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.portfolio-description-section button {
  margin-top: 24px;
  justify-self: flex-start;
  width: 89px;
  height: 48px;
  padding: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  border: none;
  color: var(--primary4);
  background-color: var(--primary2);
}

.portfolio-description-section button:enabled {
  color: var(--primary4);
  background-color: var(--primary2);
}

.portfolio-description-section button:hover {
  color: var(--neutral);
  background-color: var(--primary2);
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.portfolio-description-section button:active {
  background-color: var(--primary1);
  color: var(--neutral-9);
}

.portfolio-description-section button:disabled {
  background-color: var(--neutral-2);
  color: var(--neutral-7);
}

.background-container {
  background-image: url(assets/background-shapes.png);
  background-position-y: 121.22px;
  background-repeat: no-repeat;
}
