@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --primary1: #5e42d7;
  --primary2: #7d73fc;
  --primary3: #9490ff;
  --primary4: #edecff;
  --neutral: #fff;
  --neutral-2: #2a2b33;
  --neutral-5: #81818c;
  --neutral-7: #c8c8d4;
  --neutral-8: #dcdce8;
  --neutral-9: #eaeaf6;
  --neutral-10: #f5f5ff;

  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  font-family: Roboto, "Lucida Grande", Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #191765;
}

header,
main {
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

main {
  background-image: url(assets/background-circles.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.menu-container {
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  height: 36px;
  display: flex;
  margin-left: 12px;
  margin-top: 6px;
  box-sizing: border-box;
  padding: 10px 12px;
}

.logo-container p {
  color: #fff;
  font-size: 18px;
  line-height: 16px;
  font-weight: 500;
  margin: 0;
}

nav {
  width: 50px;
  height: 50px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.hamburger-menu {
  width: 35.33px;
  height: 22.83px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamburger-menu > span {
  border-bottom: 2px solid #fff;
  width: 100%;
  display: block;
}

.tagline-container {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 95px;
}

.primary-text-container {
  height: auto;
}

.supporting-text-container {
  height: 87px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagline-container h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  color: #7d73fc;
  margin: 0;
}

.tagline-container h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  color: #edecff;
  vertical-align: middle;
}

.description-text {
  margin-top: 40px;
  margin-right: 24px;
  margin-left: 24px;
  text-align: center;
}

.description-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #c8c8d4;
}

.main-separator {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 33px;
  margin-bottom: 0;
  height: 1px;
  background-color: #646369;
  border-width: 0;
}

.personel-feature-container {
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 37.33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 63.58px;
}

.feature-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.feature-container h3 {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: #9490ff;
  padding-left: 0;
  margin-bottom: 25px;
  margin-top: 0;
}

.feature-container ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.feature-container ul li {
  list-style: none;
  margin-bottom: 19.11px;
}

.last-child {
  margin-bottom: 0;
}

.feature-container p {
  font-size: 15px;
  line-height: 24px;
  color: #f5f5ff;
  margin-top: 0;
  margin-bottom: 0;
}

.feature-icon {
  margin-top: 41px;
  margin-bottom: 58px;
}

.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 104px;
}

.social-media {
  list-style-type: none;
  padding: 0;
  width: 200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.social-media-container.social-media li {
  height: 20px;
}

.social-media a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.social-media img {
  height: 20px;
}

.work-arrow-container {
  margin-top: 34px;
}

.work-arrow-container a {
  width: 77px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-arrow-container img {
  height: 21.3px;
  width: 18px;
}

.work-arrow-container p {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: #a2a3ae;
}

/* Works Section Begins */

.works-header-wrapper {
  height: 104px;
  text-align: left;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 79.85px;
}

.works-header-wrapper h2 {
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline;
  color: var(--primary3);
}

#works-section {
  margin-top: 33px;
  margin-bottom: 48px;
}

.portfolio-works {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  row-gap: 40px;
  margin-left: 24px;
  margin-right: 24px;
  justify-content: center;
}

.portfolio-works article {
  display: flex;
  flex-direction: column;
}

.portfolio-image-container {
  max-width: 684px;
  max-height: 448px;
}

.portfolio-image-container img {
  height: auto;
  max-height: 448px;
  max-width: 684px;
  width: 100%;
  margin-bottom: 24px;
}

.portfolio-header {
  height: 105px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.portfolio-header h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  color: var(--neutral);
}

.portfolio-works .descriptive-text {
  font-size: 20px;
  line-height: 28px;
  color: var(--neutral-8);
  text-align: left;
  margin-top: 24px;
  margin-bottom: 0;
}

.portfolio-description-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.portfolio-description-section .portfolio-tags {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 24px;
}

.portfolio-description-section ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

.portfolio-description-section .portfolio-tags ul > li {
  list-style-type: none;
  border-right: 1px solid #555;
  height: 100%;
}

.portfolio-description-section ul > li:last-child {
  border-right: none;
}

.portfolio-description-section li > p {
  color: var(--neutral);
  padding-right: 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.logo-container p:hover {
  color: #5e42d7;
}

button {
  margin-top: 24px;
  justify-self: flex-start;
  width: 89px;
  height: 48px;
  padding: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  border: none;
  color: var(--primary4);
  background-color: var(--primary2);
}

button:enabled {
  color: var(--primary4);
  background-color: var(--primary2);
}

button:hover {
  color: var(--neutral);
  background-color: var(--primary2);
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

button:active {
  background-color: var(--primary1);
  color: var(--neutral-9);
}

button:disabled {
  background-color: var(--neutral-2);
  color: var(--neutral-7);
}

.background-container {
  background-image: url(assets/background-shapes.png);
  background-position-y: 121.22px;
  background-repeat: no-repeat;
  background-size: 100%;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#contact-form-heading {
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  color: #9390ff;
  margin-top: 120px;
  margin-bottom: 24px;
}

#contact-form-text {
  color: var(--neutral-10);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 24px 24px 40px 24px;
  text-align: center;
}

footer form {
  width: 100%;
}

#contact-form ul {
  list-style: none;
  padding: 0;
  margin: 0 24px;
}

#contact-form ul li {
  width: 100%;
  margin-bottom: 24px;
}

#contact-form ul li input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 15px 16px;
  font-size: 15px;
  color: var(--neutral-5);
}

#contact-form textarea {
  box-sizing: border-box;
  height: 148px;
  width: 100%;
  padding: 12px;
  color: var(--neutral-5);
}

#contact-form textarea:placeholder-shown {
  font-family: Inter, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: var(--neutral-5);
}

#contact-form .submit-button {
  margin-top: 40px;
  margin-bottom: 71px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact-submit {
  margin-top: 0;
}

#full-width-line {
  margin-top: 0;
  margin-bottom: 25px;
  width: 100%;
  border-top-color: #3a3837;
  border-width: 1px 0 0 0;
  border-top-style: solid;
}

.social-media-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#send-email {
  text-decoration: none;
  color: #ebebff;
  margin-top: 9px;
  padding-bottom: 27px;
}

#last-line {
  width: 40%;
  border-top-color: #0d141e;
  border-width: 13px 0 0 0;
  border-top-style: solid;
  border-radius: 5px;
  margin: 0 0 8px 0;
}

.menu-list {
  display: none;
}

#email-icon {
  display: none;
}

#desktop-down-arrow {
  display: none;
}

/* Media Queries For Desktop View */

@media only screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }

  .menu-list li img {
    display: none;
  }

  header {
    width: 100%;
    height: 72px;
    text-align: center;
  }

  header .menu-container {
    height: 100%;
    margin: 0 151px 0 142px;
    justify-content: space-between;
  }

  header nav {
    height: 100%;
    width: auto;
    margin: 0;
  }

  .logo-container {
    margin: 16px 0 0 0;
  }

  .logo-container p {
    line-height: 20px;
  }

  .menu-list {
    display: flex;
    padding: 0;
  }

  .menu-list li {
    box-sizing: border-box;
    padding: 10px 12px;
    margin-right: 8px;
  }

  .menu-list li:hover {
    text-decoration: underline;
  }

  .menu-list li:last-child {
    margin-right: 0;
  }

  .menu-list li a {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: var(--neutral);
  }

  #email-icon {
    display: block;
    width: 22px;
    height: 18px;
    margin-left: 21px;
  }

  /* Header Responsive End */
  .tagline-container {
    margin-top: 130px;
    margin-left: 142px;
    margin-right: 142px;
  }

  .primary-text-container,
  .supporting-text-container {
    width: 100%;
    height: auto;
  }

  .primary-text-container h1 {
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 105px;
    text-align: center;
    display: block;
  }

  .supporting-text-container {
    margin-top: 24px;
  }

  .supporting-text-container h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 47px;
    text-align: center;
  }

  .description-text {
    margin: 88px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .description-text p {
    max-width: 447px;
    height: 155px;
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }

  .main-separator {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
  }

  .flex-container {
    max-width: 446px;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .feature-container {
    width: 123px;
    text-align: left;
  }

  .feature-container h3 {
    margin: 5.33px 8px 24.5px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
  }

  .personel-feature-container .feature-container ul li {
    margin-left: 7.17px;
    min-width: 123px;
  }

  .feature-container ul li p {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
  }

  .main-separator.feature-icon {
    margin-top: 33px;
    margin-bottom: 96px;
  }

  .social-media-container {
    flex-direction: row;
    margin-left: 208.5px;
    margin-right: 208.5px;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  .work-arrow-container {
    margin-top: 0;
  }

  #desktop-down-arrow {
    display: block;
  }

  /* My Works Section Starts */
  .works-header-wrapper {
    margin-top: 228px;
    margin-left: 142px;
    margin-right: 142px;
    height: 114px;
  }

  .works-header-wrapper h2 {
    text-transform: none;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 114px;
    text-align: left;
  }

  #works-section {
    width: auto;
    margin-left: 142px;
    margin-right: 142px;
    margin-bottom: 96px;
  }

  #portfolio-works {
    margin-left: 142px;
    margin-right: 142px;
    row-gap: 88px;
  }

  #portfolio-works .portfolio-post {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  #portfolio-works .portfolio-post:nth-child(even) {
    flex-direction: row-reverse;
    padding-left: 0;
  }

  .portfolio-works .portfolio-post .portfolio-description-section {
    width: 40%;
    margin-top: 0;
    padding-left: 24px;
  }

  #portfolio-works .portfolio-post:nth-child(even) .portfolio-description-section {
    padding-left: 0;
    padding-right: 24px;
  }

  #portfolio-works .portfolio-image-container {
    width: 60%;
  }

  .portfolio-image-container .portfolio-img {
    margin-bottom: 0;
  }

  .portfolio-description-section .portfolio-header h3 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
  }

  /* Footer responsive styling starts */
  #contact-form-heading {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-top: 228px;
  }

  #contact-form-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    max-width: 684px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 88px;
  }

  #contact-form {
    max-width: 684px;
  }

  #contact-form ul {
    margin-left: 0;
    margin-right: 0;
  }

  #contact-form ul li {
    margin-bottom: 20px;
  }

  #contact-form ul li input {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }

  #contact-form textarea:placeholder-shown {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }

  #contact-form .submit-button {
    margin-top: 40px;
    margin-bottom: 106px;
  }

  #contact-submit {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    width: 160px;
    height: 48px;
  }

  .social-media-bottom-container {
    max-width: 421px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
  }

  #send-email {
    padding-bottom: 0;
    margin: 0;
  }

  #last-line {
    display: none;
  }

  main {
    background-image: url(assets/desktop\ two\ circles\ header.png);
  }

  .background-container {
    background-image: url(assets/desktop-work-section-shapes.png);
  }
}

/* mobile navigation */

@media (max-width: 768px) {
  .active {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #191765;
    background-image: url(./assets/mobilenavbg.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .active .menu-list {
    display: block;
    position: absolute;
    top: 76px;
    left: 0;
    text-align: start;
    width: 100%;
  }

  .active .menu-list li {
    margin-bottom: 38px;
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .active .menu-list li a {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: var(--primary4);
  }

  .active .menu-list li img {
    margin-right: 48px;
    display: block;
  }

  .active .hamburger-menu {
    position: absolute;
    top: 16px;
    right: 38px;
    width: 14px;
    height: 14px;
  }

  .active .hamburger-menu span:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }

  .active .hamburger-menu span:nth-child(3) {
    transform: translateY(8px) rotate(-45deg);
  }

  .active .hamburger-menu span:nth-child(2) {
    display: none;
    opacity: 0;
  }

  .overflow-disabled {
    overflow-y: hidden;
  }
}

#form-error {
  visibility: hidden;
}

/* Modal styling */
.modal {
  margin: 10px 24px;
  padding: 24px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.16);
  box-shadow: 0 48px 48px 0 rgba(37, 47, 137, 0.08);
  backdrop-filter: blur(15px);
  text-align: center;
}

.modal::backdrop {
  background-color: #100f45;
  opacity: 0.9;
}

.modal-close {
  position: absolute;
  top: 38px;
  right: 39px;
}

.modal-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  margin-bottom: 24px;
}

.modal-image {
  width: calc(100% - 48px);
  height: auto;
}

.modal-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

.modal .modal-tags {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-tags .modal-long-desc {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  padding: 14px;
  border-right: 1px solid #81818c;
}

.modal-tech-tag-1 {
  border-left: 1px solid #81818c;
}

.modal-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-button-container a {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary4);
  background-color: var(--primary2);
  padding: 12px;
}

.modal-button-container a img {
  margin-left: 16px;
}

/* modal responsive */
@media only screen and (min-width: 768px) {
  .modal {
    margin: auto 168px;
  }

  .modal-header {
    margin-left: 24px;
  }

  .modal-text {
    width: 60%;
    margin: 0 auto;
  }

  .modal-button-container {
    flex-direction: row;
    justify-content: center;
    gap: 78px;
  }
}

#warning-message {
  margin-top: 20px;
}
