body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  
}

header{
  width: 375px;
  background-color: #191765;
  text-align: center;
  height: 1000px;


}

.menu-container {
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  height: 36px;
  display: flex;
  margin-left: 12px;
  margin-top: 6px;
  box-sizing: border-box;
  padding: 10px 12px;
}

.logo-container p {
  color: #ffffff;
  font-size: 18px;
  line-height: 16px;
  font-weight: 500;
  margin: 0;
}

nav {
  width: 50px;
  height: 50px;
  justify-content: space-around;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
}

.hamburger-menu {
  width: 35.33px;
  height: 22.83px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamburger-menu>span {
  border-bottom: 2px solid #ffffff;
  width: 100%;
  display: block;
}

.tagline-container{
  margin-left: 24px;
  margin-right: 24px;
  height: 154px;
  margin-top: 47px;

}

.primary-text-container{
  height: 55px;
  width: 327px;
}

.supporting-text-container{
  height: 87px;
  width: 327px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagline-container h1{
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  color: #7d73fc;
  margin: inherit;
}

.tagline-container h2{
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  color: #edecff;
  margin: inherit;
}

.description-text{
  margin-top: 40px;
  margin-right: 24px;
  margin-left: 24px;
  text-align: center;
}

.description-text p{
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #C8C8D4;
}